################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/AashaDigitalIndia24Testing/v17/.suo
/.vs/AashaDigitalIndia24Testing/v17/DocumentLayout.backup.json
/.vs/AashaDigitalIndia24Testing/v17/DocumentLayout.json
/.vs/AashaDigitalIndia24Testing/v17/fileList.bin
/.vs/AashaDigitalIndia24Testing/v17/HierarchyCache.v1.txt
