################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AashaDigitalIndia24Testing/FileContentIndex/1efd0777-e484-4a01-aad2-7f0c376203cc.vsidx
/.vs/AashaDigitalIndia24Testing/FileContentIndex/5af27f23-17e0-440b-b8e0-a68b29610a1e.vsidx
/.vs/AashaDigitalIndia24Testing/FileContentIndex/7dc38e0e-5c6a-4d78-9dbc-1d6e811b9d02.vsidx
/.vs/AashaDigitalIndia24Testing/FileContentIndex/87271d75-099e-4835-bfe5-83454ff057eb.vsidx
/.vs/AashaDigitalIndia24Testing/FileContentIndex/b1a4247b-7d0b-4f29-9688-b0a048dbe0ec.vsidx
/.vs/AashaDigitalIndia24Testing/FileContentIndex/ca1a8010-95bd-4dc8-a859-e70e1dbbde15.vsidx
/.vs/AashaDigitalIndia24Testing/FileContentIndex/d352575f-90bc-4264-b364-899a2d27f0b7.vsidx
/.vs/AashaDigitalIndia24Testing/FileContentIndex/d89c8c68-2107-4e0f-af8a-ab2c1ad12d4e.vsidx
/.vs/AashaDigitalIndia24Testing/FileContentIndex/e3bf9091-f4f0-41be-8da5-03b4eba82afb.vsidx
